body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    background-color: #1b191b;
    overflow-x:hidden;
    direction: ltr;
    --pers-bg:#232b3e;
    --txt-col:aqua;
    scroll-behavior: smooth;
    height: fit-content;
    width: fit-content;
}
#hd{
   padding-left: 22px;
}
#hdd{
    font-weight: 330px;
    font-size: 30px;
    text-align: left;
    top: 40px;
}
h3{
    color: white;
}

.intro{
    position: relative;
    left: 300px;
    top: 45px;
    font-size: 33px;
    font-weight: 90px;
}
.greet{
    position: absolute;
    left: 288px;
    /* top:172px; */
    bottom: 440px;
    font-size:20px;
    color: #04eeff;
    letter-spacing: 2px;
}
#info{
    color: #04eeff;
}
.name{
    position: relative;
    left: 300px;
    letter-spacing: 3px;
    top: 140px;
    font-size: 100px;
    color: #04eeff;
}
h1{
    color: white;
    position: relative;
    top: 30px;
    left: 10px;
    font-style: inherit;
}
@keyframes mov{
    0%{transform: translateY(-30px);}
    50%{transform: translateY(30px);}
    100%{transform: translateY(-30px);}
}
.image-div{
    box-shadow:0 0 1rem aqua;
    border: 9px solid aqua ;
    border-radius: 23px;
    width: 433px;
    height: 453px;
    overflow: hidden;
    position: relative;
    left: 810px;
    bottom: 359px;
    animation-name: mov;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: pointer;
}
.image-div img{
    width: 100%;
    height: 530px;
    object-fit: cover;
}
.f1 h1:first-child:after {
    content: "PORTFOLIO";
    font-size: small;
    margin-top: 10px;
    padding-left: 10px;
    color: rgb(233, 70, 70);
    letter-spacing: 2px;
    background: linear-gradient(to right, rgb(247, 246, 246) 50%, red 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}
nav a{
    text-decoration: none;
}
li{
    list-style: none;
    display: inline-block;
}

.f1{
    width: 100vw;
    position: fixed;
    z-index: 4;
    bottom: 539px;
    background: #081B29;
    height: 20vh;
    /* margin-bottom: 122px; */
}
a{
    padding-left: 28px;
    color: white;
    position: relative;
    transition: .5 ease-out;
}
#home{
    margin-top: -31px;
}

.aa{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    
}
.aa:hover{
    color: orange;
}
i:hover{
    color: #04eeff;
}


a:hover{
    cursor: pointer;
    color:aqua;
    font-weight: bolder;
    letter-spacing: 1px;
}
nav{
    text-align: right;
    padding: 10px 1px 1px;
    margin-right: 90px;
    margin-bottom: 27px;
}

.second-intro{
line-height: 2.2rem;
display: block;
justify-content: center;
word-spacing: 3px;
text-transform: capitalize;
}
.second-intro p{
    font-size: 1.7rem;
    margin: 2rem 0 4rem;
    position: relative;
    top: 23px;
    left: 300px;
}
.but1{
    position: relative;
    top: 2px;
    left: 270px;
    border: 2px solid transparent;
    box-shadow:0 0 0.5rem aqua;
    border-radius: 45px;
    padding: 9px 21px 9px;
    font-weight: bold;
    scale: 1.2;
    background-color: #04eeff;
    transition: 0.9;
}
.but1:hover{
    background-color: aqua;
    box-shadow: none;
    cursor: pointer;
}
.me{
    color: #04eeff;
}
#about-head{
    position: relative;
    left: 107px;
    top: 120px;
    font-size: 80px;
}
.pp{
    color: white;
    text-align: left;
    line-height: 2.1rem;
    position: relative;
    left: 108px;
    top: 98px;
    text-transform: capitalize;

}
.about{
    background-color: #111620;
    position: relative;
    bottom: 250px;
    width: 199%;
    height: 132vh;
    left: 213px;
    margin-left: -219px;
    padding-bottom: 123px;
}
.about-image{
    border: solid aqua;
    border-bottom-left-radius: 93px;
    border-top-right-radius: 53px;
    border-end-start-radius: 193px;
    border-end-end-radius: 190px;
    border-top-left-radius: 53px;
    border-width: 12px;
    height: 499px;
    width: 420px;
    position: relative;
    left: 840px;
    bottom: 490px;
    overflow: hidden;
    box-shadow:0 0 1rem aqua;
    cursor: pointer;
}
.about-image #mg{
    width: 100%;
    height: 530px;
    object-fit: cover;
    transition: 0.9s;
}
 #mg:hover{
    filter: brightness(0.2);
}
.skills{
background-color: var(--pers-bg);
width: 900vh;
height: 134vh;
min-height: auto;
padding-bottom: 27rem;
position: relative;
left: 83px;
padding-left: 50px;
margin-left: -162px;
margin-top: -310px;
}
.skills-columns{
    position: relative;
    left: 223px;
}
.sk{
color: var(--txt-col);
padding-left: 10px;
}
.skills-head{
justify-content: center;
position: relative;
left: 532px;
font-size: 50px;
color: white;
padding-top: 132px;
}
span{
    color: var(--txt-col);
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}
.skills-row .skills-columns{
    flex:  1 1 30rem;
}
.skills-columns{
    position: relative;
    left: 320px;
}
.skills-columns .title{
    font-size: 2.5rem;
}

.skills-column{
    position: relative;
    left: 60px;
}
.skills-column  .title{
    font-size: 2.5rem;
}
.skills-box .skills-content{
    position: relative;
    border: 2px solid var(--txt-col);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    width: 420px;
    z-index: 1;
    overflow: hidden;
}
.skills-box .skills-content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #081B29;
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover::before{
width: 100%;
}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .progress #ps{
    font-size: 1.7rem;
    display: flex;
    justify-content:space-between;
}
.skills-content .progress #ps span{
color: white;
}
.skills-content .progress .bar{
    height: 4px;
    border-radius: .6rem;
    border: .2rem solid var(--txt-col);
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: .3rem;
    background-color: var(--txt-col);
   
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 78%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 89%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 75%;
}
.skills-columns:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 63%;
}
.skills-columns:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}
.skills-columns:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 88%;
}
.skills-columns:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 100%;
}
.heading{
    position: relative;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--txt-col);
}
#mee{
    color: white;
}

.contact{
    position: relative;
    bottom: -1px;
    background-color: var(--pers-bg);
    width: 123vw;
    right: 150px;
    padding-right: 110px;
    min-height: auto;
    padding-bottom: 7rem;
    padding-top: 45px;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
position: relative;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: 0.8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.rem;
    font-size: 1.6rem;
    background-color: transparent;
    border-radius: .6rem;
    color: white;
    border-color: #04eeff;
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: white;

}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea{
    resize: none;
}
.but2{
    position: relative;
    top: 2px;
    left: 2%;
    border: 2px solid transparent;
    box-shadow:0 0 0.5rem aqua;
    border-radius: 45px;
    padding: 9px 21px 9px;
    font-weight: bold;
    scale: 1.2;
    background-color: #04eeff;
    transition: 0.9;
}
.but2:hover{
    background-color: aqua;
    box-shadow: none;
    cursor: pointer;
}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea{
    resize: none;
}
.portfolio{
    background: var(--pers-bg);
    /* height: -340vh; */

}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
}

h4 {
    color: white;
}
.portfolio-box:hover img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1),#0ef);
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
    backdrop-filter: blur(95px);
    filter: brightness(0px);
}

.portfolio-layer h4{
    font-size: 3rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: 0;   
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 90%;
}
#a-pro{
    position: relative;
    right: 59px;
    border-radius: 390px;
}
#a-pro:hover{
    background-color: #04eeff;
    cursor: pointer;
}
#pro-hd{
    color: white;
}
.h
.portfolio-layer a i{
    font-size: 2rem;
    color: #323946;
}
#for3{
    object-fit: cover;
    position: relative;
    bottom: -3px;
    left: -185rem;
    width: 433px;
    height: 463px;
}
#for33 #for3 {
    object-fit: cover;
    width: 100%;
    height: 530px;
    
}
#for34{
    object-fit: cover;
    position: relative;
    bottom: -3px;
    right: -40px;
    width: 433px;
    height: 463px;
}

#for31{
    object-fit: cover;
    position: relative;
    bottom: -25px;
    right: -40px;
    width: 433px;
    height: 463px;
}
#for32{
    object-fit: cover;
    position: relative;
    bottom: -510px;
    left: -71.3rem;
    width: 433px;
    height: 463px;
    
    
}
h4{
    position: relative;
    right: 60px;
    margin-top: 0;
}
#port-hd{
    position: relative;
    left: -120rem;
}
.p{
    position: relative;
    right: 60px;
    bottom: 45px;
    color: white;
    
}
p{
    position: relative;
    right: 60px;
    bottom: 45px;
    color: white;
}
box-icon {
    position: relative;
    right: 20px;
   font-weight: 160px;
   background: transparent;
}
box-icon:hover{
    filter: contrast(0);
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #232b3e
    
}
#footer-para{
    left: 10rem;
    top: 110px;
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-icontop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #0ef;
    border:.2rem solid #0ef;
    border-radius: .6rem;
    right: -80px;
    animation-name: mov;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: pointer;
}
@keyframes mov{
    0%{transform: translateY(-30px);}
    50%{transform: translateY(30px);}
    100%{transform: translateY(-30px);}
}
.footer-icontop a:hover{
    animation-play-state: paused;
}
#fotico{
    position: relative;
    left: 2px;
}
.social-ico a{
    display: inline-block;
    width: 45px;
    height: 45px;
    justify-content: center;
    background:transparent;
    font-size: 2rem;
    color: #0ef;
    justify-content: left;
    padding-top: 17px;
    padding-left: 37px;
    transition: .5s ease;
}
#nav-top+#nav-top{
    margin-left: -35px;
} 
.social-ico a:hover{
    background-color: transparent;
    color: #0ef;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-top: 120px;
    margin-right: 40px;
    display: block;
}
    #check{
        display: none;
    }

 @media (max-width: 480px) { 
    body {
        font-size: 14px;
    }
    nav .links a{
        float: right;
        margin: right;
    }
    .f1{
        width: 100%;
        position: fixed;
        z-index: 4;
        bottom: 490px;
        background: #081B29;
        
    }
    
}
@media (max-width: 952px){
    #hd #hdd{
        font-size: 30px;
        padding-left: 70px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .f1{
        width: 100%;
        position: fixed;
        z-index: 4;
        bottom: 490px;
        background: #081B29;
    }
} 
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
} 
@media (min-width: 1520px){
    body{
        font-size: 10px;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    .f1{
     display: none;
    }
    ul li{
        
        position: fixed;
        width: 100%;
        height: 100vh;
        background: red;
        bottom: 1480px;
        text-align: center;
        font-size: larger;
        margin-left: 120px;
    }
    .links ul li{
        display: block;
    }

    .image-div{
        box-shadow:0 0 1rem aqua;
        border: 9px solid aqua ;
        border-radius: 23px;
        width: 233px;
        height: 253px;
        overflow: hidden;
        position: relative;
        left: 1010px;
        bottom: 359px;
        animation-name: mov;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        cursor: pointer;
    }
    .image-div img{
        width: 100%;
        height: 265px;
        object-fit: cover;
    }
    .about-image{
        border: solid aqua;
        border-bottom-left-radius: 93px;
        border-top-right-radius: 53px;
        border-end-start-radius: 193px;
        border-end-end-radius: 190px;
        border-top-left-radius: 53px;
        border-width: 12px;
        height: 499px;
        width: 420px;
        position: relative;
        left: 840px;
        bottom: 490px;
        overflow: hidden;
        box-shadow:0 0 1rem aqua;
        cursor: pointer;
    }
    .about-image #mg{
        width: 100%;
        height: 265px;
        object-fit: cover;
        transition: 0.9s;
    }
    #footer-para{
        left: 333px;
        top: 110px;
    }
    .name{
    position: relative;
    left: 300px;
    letter-spacing: 3px;
    top: 140px;
    font-size: 100px;
    }
    .f1{
        display: none;
    }
    .greet{
    position: absolute;
    left: 288px;
   
    bottom: 510px;
    font-size:10px;
    color: #04eeff;
    letter-spacing: 2px;

    }
    .checkbtn{
        display: block;
        position: relative;
        font-size: 30px;
        color: white;
        line-height: 80px;
        margin-top: 120px;
        float: left;
        left: 77rem;
        bottom: 10rem;

    }


} 